<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">


    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Read chapters</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Genre</th>
              <th scope="col">ReleaseDate</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let chapter of chapters">
              <td scope="row" (click)="onRead(chapter)">
                <div class="media align-items-center">
                  <div class="media-body" >
                    {{chapter.name}}
                  </div>
                </div>
              </td>
              <td>
                {{chapter.genre}}
              </td>
              <td>
                {{chapter.releaseDate | date}}
              </td>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" (click)="onRead(chapter)">READ</a>
                    <a class="dropdown-item" (click)="onUpdate(chapter)">UPDATE</a>
                    <a class="dropdown-item" (click)="onDelete(chapter)">DELETE</a>
                  </div>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>







